<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<title>Home Page</title>
  <link rel="stylesheet" href="css/style.css">

</head>
<body>

<div th:insert="header.html"></div>


<div class="centered-container">
        <div class="home-card card">
            <div class="welcome-message">You have successfully logged in [[${uname}]]. Welcome to the home page!</div>
            <div class="current-date-time" id="current-date-time"></div>
        </div>
    </div>


    <script src="js/script.js"></script>





</body>
</html>



    





   
   