 <!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>

<link rel="stylesheet" href="https://cdn.datatables.net/1.13.5/css/jquery.dataTables.css" />
  
<script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.js"></script>

<title>Home Page</title>

</head>
<body>






		<h1>Employee List</h1>
		
		<table id="table_id">
			<thead>
				<tr>
				
					<td>First Name</td>
					<td>Last Name</td>
					<td>Company</td>
					<td>Department</td>
					<td>Email</td>
					<td>Address</td>
					<td>Action</td>
					
		
				</tr> 
		
			</thead>
		
		<tbody>
		<tr th:each="emp: ${empList}">
		
					<td th:text="${emp.fname}"></td>
					<td th:text="${emp.lname}"></td>
					<td th:text="${emp.companyName}"></td>
					<td th:text="${emp.department}"></td>
					<td th:text="${emp.email}"></td>
					<td th:text="${emp.address.country}"></td>
					<td>
					
					<a th:href="@{/edit?(id=${emp.id})}"><input type="submit" value="edit"></a>
					<a th:href="@{/delete?(id=${emp.id})}"><input type="submit" value ="delete"></a>
					
					
					
					</td>
					
		</tr>
		
		
		
		</tbody>
		
		</table>
		<script type="text/javascript">
		
		$(document).ready( function () {
		    $('#table_id').DataTable();
		} );
		
		
		</script>




</body>
</html>